[Unit]
Description=Balsam Healthcare API Server
After=network.target

[Service]
Type=notify
ExecStart=/opt/balsam/api/Balsam.API
WorkingDirectory=/opt/balsam/api
Environment=ASPNETCORE_ENVIRONMENT=Production
Restart=on-failure
RestartSec=10
User=balsam
Group=balsam
SyslogIdentifier=balsam-api

NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/opt/balsam/api

[Install]
WantedBy=multi-user.target
