<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
       <string>com.balsm.api</string>
    <key>ProgramArguments</key>
    <array>
           <string>/usr/local/balsm/api/Balsm.API</string>
    </array>
    <key>WorkingDirectory</key>
       <string>/usr/local/balsm/api</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>ASPNETCORE_ENVIRONMENT</key>
        <string>Production</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/usr/local/balsm/api/logs/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/balsm/api/logs/stderr.log</string>
</dict>
</plist>
